@font-face {
  font-family: Gilroy-Bold;
  src: url(./fonts/Gilroy-Bold.woff2);
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(./fonts/Gilroy-Medium.woff2);
}

@font-face {
  font-family: Gilroy-Semibold;
  src: url(./fonts/Gilroy-Semibold.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: Gilroy-Bold;
  font-weight: 400;
}

h1 {
  color: #000;
  font-size: 60px;
  line-height: 71px;
}

h2 {
  color: #000;
  font-size: 45px;
  line-height: 53px;
}

h4 {
  color: #000;
  font-size: 24px;
  line-height: 29px;
}

h6 {
  width: 64px;
  height: 17px;
  flex-shrink: 0;
}

p {
  color: #888;
  font-family: Gilroy-Medium;
  font-size: 20px;
  line-height: 24px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  height: 114px;
  margin-top: 14px;
  margin-bottom: 21px;
  padding-left: 59px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  width: 556px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.navigation__link {
  color: #000;
  font-family: Gilroy-Medium;
  font-size: 14px;
  line-height: 17px;
  transition: background-color 0.3s;
}

.navigation__link:hover {
  color: #f25822;
}

.main {
  min-height: 536px;
  padding-left: 16px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.main-text h1 {
  max-width: 522px;
  margin-bottom: 17px;
  margin-left: 41px;
}

.main-text p {
  max-width: 466px;
  margin-bottom: 16px;
  margin-left: 41px;
}

.main-btn {
  max-width: 374px;
  min-height: 94px;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.btn {
  color: #aaa;
  font-family: Gilroy-Bold;
  font-size: 15px;
  line-height: 18px;
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: #fff;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
}

.footer {
  padding: 97px 0;
}

.main-footer {
  padding-left: 13px;
  display: flex;
  justify-content: space-between;
}

.about-top {
  min-height: 491px;
}

.cards-list-top {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}

.card-top {
  width: 370px;
  height: 291px;
  padding: 40px 31px 25px 30px;
  align-items: start;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s;
  cursor: pointer;
}

.card-top:hover {
  width: 370px;
  height: 291px;
  padding: 40px 31px 25px 30px;
  background: #fff;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.card-top h4 {
  max-width: 215px;
  margin-top: 25px;
  margin-bottom: 17px;
}

.card-top p {
  max-width: 310px;
  font-size: 15px;
  margin-bottom: 25px;
}

.about-bottom {
  min-height: 919px;
  padding: 92px 0;
  background: #fafafa;
}

.about-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.about-content h2 {
  max-width: 579px;
  margin-bottom: 19px;
}

.about-content p {
  max-width: 682px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 54px;
}

.cards-list-bttom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.card-bottom {
  box-sizing: border-box;
  width: 370px;
  height: 549px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  background: #fff;
  transition: background-color 0.3s;
}

.card-bottom:hover {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.card-bottom-content {
  padding: 0 30px 50px;
}

.card-bottom-content h4 {
  font-size: 24px;
  margin-bottom: 22px;
}

.card-bottom-content p {
  max-width: 310px;
  font-size: 15px;
  margin-bottom: 39px;
}
